<head>
    <title>Thesis data collect</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <script>
        $(document).ready(function () {
            $('#dtBasicExample').DataTable();
            $('.dataTables_length').addClass('bs-select');
          });
    </script>
    <style>
        .codeStruct{
            margin:auto;
            padding:auto;
            height:300px;
            width:750px;
            border:2px solid rgb(253, 134, 118);
            background-color: rgb(247, 247, 247);
        }
        .codeStruct1{
            margin:auto;
            padding:auto;
            height:440px;
            width:750px;
            border:2px solid rgb(253, 134, 118);
            background-color: rgb(247, 247, 247);
        }
    </style>
</head>